<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>Title here</title>
</head>
<body>
    <h1>Hello, test application</h1>

    <h3>Here are some superhero name weirdly populated by thymeleaf</h3>
    <th:block th:each="thing : ${list}">
        <h4 th:text="${thing.name}"></h4>
    </th:block>

</body>
</html>